/*
 * Define colors for the site
 *
 */

$color-black: #000;
$color-black-shade-1: #464141;
$color-black-shade-2: #232020;

$color-light-black-shade-1: #383535;

$color-white: #fff;
$color-off-white-1:#fdfdfd;
$color-dark-blue: #07569e;
$color-ocean-blue: #22a2f3;
$color-gray-shade-1: #e4e4e3;
$color-light-gray-shade-1: #f1f1f1;
$color-light-gray-shade-2: #eaeaea;
$color-light-gray-shade-3: #f0efef;
$color-light-gray-shade-4: #eeeeee;
$color-light-gray-shade-5: #f9f9f9;
$color-light-gray-shade-6: #ccc;

$color-dark-gray-shade-1: #969696;
$color-dark-gray-shade-2: #706a6a;

$color-aqua-shade-1: #d1edff;
$color-aqua-shade-2: #e9f6ff;
$color-aqua-shade-3: #469dc8;
$color-aqua-shade-4: #99d7ff;
$color-light-aqua-shade: #459ac4;
$color-light-dark-aqua-shade: #377b9c;
$color-dark-aqua-shade: #2b617c;
$color-red-shade-1: #ea3232;

$color-light-yellow : #f5a002;
$color-light-gray-yellow : #f29f02;
$color-light-dark-yellow : #d38a02;
$color-dark-yellow : #966201;
$color-light-yellow-shade-1 : #ffbd42;

$color-orange-shade-1: #f39f02;
$color-dark-gray: #666;