.ad-mpu-320{
    float: left !important;
}

.ad-leaderboard{
    min-height: 90px;
    overflow: hidden;

    object, embed{
        min-height: 90px;
    }
}

.underhead-ad-300-1{
    margin-bottom: 10px;
    min-height: 40px;
}

.underhead-ad-300-2{
    margin-bottom:10px;
    min-height: 40px;
}