/*
 * Styles related to Match Information Strip, Social Shares, Desktop Scores
 */

.match-information-strip, .social-block, .desktop-score-block{
    margin:10px 0;
}
.match-information-strip {
	font-weight: bold;
	line-height: 17px;
}