/*
* Styles for 1024 screen size
*/

@media #{$medium} {

    .underhead-ad-300-2{
        display:none;
    }

    .ad-slot-4{
        display: none;
    }

    //.commentary-block{
        //width:100%;
    //}

    //.thin-incontent-block{
        //display:none;
    //}

    ul.coverage-day-list{
        text-align:left;
    }

    .search-block{
        form{
            input {
                -webkit-appearance: none;
                -webkit-border-radius: 0;
            }
            .srch-icon {
             background: $color-light-gray-shade-3 url(http://i.imgci.com/espncricinfo/scorecard/sprite-v2.png) -8px -110px;
            }

        }

    }
    .match-card-block {
        margin-bottom:10px;
    }

    #top-strip-livescore {
        padding:0;
        li{
            display:none;
        }
        li:first-child{
            display:table-cell;
        }
    }
    .score-strip-block{
        .match-select{
            padding:0;
            font-size:12px;
        }
        .match-select{
            #droplist {
                input{
                    margin:0 5px 0 0 !important;
                }
            }
        }
    }
    .link-strip-block{
        li{
            text-align:center;
            padding:0 6px;
            a{
                padding:0 !important;
            }
        }
    }
    .photos-block #imgMain {
        min-height:187px;
    }

}

@media only screen and (max-width: 1024px) {
    .match-coverage-vid-1024{
        display: block;
        height:240px;
        object{
            height:240px;
        }
    }
    .match-coverage-vid-1280{
        display: none;
    }

    .vid-module-1024{
        display: block;
    }
    .vid-module-1280{
        display: none;
    }

    .ad-mpu-320{
        //margin-top: 10px;
        //margin-bottom: 10px;
    }
    .photos-block #imgLoading {
        width:300px;
    }
    .match-card-template{
        margin-bottom: 10px;
        clear:both;
        width:315px;
        float:right;
        .plainBtn {
            margin-left:12px;
        }
    }

    .ui-autocomplete{
        width:239px;
    }
    .match-card-template .score-table-box .score-stats-table {
        width:100%;
    }
    .match-card-nav {
        width:90%;
    }

}

@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1025px) {
    .match-coverage-vid-1024{
        display: none;
    }    
    .vid-module-1024{
        display: none;
    }    
}


@media only screen and (min-width: 1025px) and (max-width: 1250px) {
    #suffleDiv li{

    }
    .match-card-template {
        height:250px;
        h1 {
            font-size:12px;
        }

        .match-card-block {
          .quote{

               span.gradient-bg{
                    width:auto;
                    margin:10px 17px 8px;
                }
                .quote-text {
                    font-size:11px;
                    line-height:16px;
                }
                .medium-quote {
                    font-size:12px;
                    line-height:17px;
                }
                .small-quote {
                    font-size:11px;
                    line-height:17px;
                }
            }
            .gradient-bg {
                margin:6px 10px 8px;
            }
            .plainBtn {
                margin-left:62px;
            }
        }
         .score-table-box .score-stats-table td {
            font-size:9px;
         }
         .match-card-nav {
            width:82%;
         }
        .table-score {
            .match-table {
                margin-left:5px;
            }
            table tr td,th {
                font-size:10px;
            }
            p {
                font-size:10px;
            }
        }
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1100px) {
    #summary{

        table.batsmen td, table.batsmen th, table.batsmen-career td, table.batsmen-career th, table.bowlers td, table.bowlers th, table.bowlers-career td, table.bowlers-career th{
            font-size: 95%;
        }
        table.batsmen .th-batsmen{
            width: 170px;
        }
        table.bowlers .th-bowlers{
            width: 170px;
        }

        table.batsmen, table.batsmen-career, table.bowlers, table.bowlers-career{
            td{
                font-weight: bold;
                color: #3d3d3d;
            }
        }



    }
}
