/* Innings card styles */

.mcr-inn-current-players{
    border-right: 1px solid $color-mcr-dark-gray-3;
    @include remove-lr-padding;
    .mcr-inn-current-player{
        @include remove-lr-padding;
        border-right: 1px solid $color-mcr-white;
    }
    .mcr-inn-current-player:nth-child(even){
        // Second batsman/bowler should not have a right border
        .mcr-inn-player-graphic{
            border-right: none;
        }
        // Second player should not have a right border
        border-right: none;
    }
    .mcr-all-fours,
    .mcr-all-sixes,
    .mcr-all-bowler-meta{
        @include remove-lr-padding;
        p{
            @include remove-lr-padding;
        }
    }
}

.mcr-inn-player-text{
    background-color: $color-mcr-dark-gray;
}

.mcr-inn-pname{
    border-left: none;
    margin: 10px 0px 10px 0px;
    font-family: BentonSansBold, Arial, sans-serif;
    .mcr-data{
        font-style: normal;
        color: $color-mcr-white;
        text-align: left;
        margin-bottom: 0px;
    }
    font-size: 16px;
    text-align: left;
    span.name{
        margin-right: 12px;
    }
    span.balls{
        font-family: BentonSans, Arial, sans-serif;
        font-size: 12px;
    }
}

.mcr-inn-current-bowlers{
    .mcr-inn-player-text,
    .mcr-inn-pname,
    .mcr-all-bowler-meta{
        background-color: $color-mcr-blue-green-dark;
        p{
            color: $color-mcr-light-blue;
        }
        .mcr-data{
            color: $color-mcr-white;
        }
    }
    .mcr-all-bowler-meta{
        border-left: 1px solid $color-mcr-blue-green-light;
    }
    .mcr-inn-player-graphic{
        border-right: 1px solid $color-mcr-dark-blue;
    }
}


.pref-shot{
    margin-top: 20px;
    p{
        font-family: BentonSansMedium,Arial,sans-serif;
        font-size: 12px;
        color: $color-mcr-black;
        font-style: italic;
        margin-bottom: 0px;
    }
    .shotname{
        font-family: BentonSansBold,Arial,sans-serif;
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.mcr-inn-player-graphic{
    font-family: BentonSansMedium,Arial,sans-serif;
    color: $color-mcr-blue-green-dark;
    border-right: 1px solid $color-mcr-dark-gray-4;
    font-size: 13px;
    padding: 14px 7px 14px 7px;
    .mcr-spell-brief{
        margin-bottom: 10px;
        font-style: italic;
        span.wicket{
            font-style: normal;
            font-family: BentonSansBold,Arial,sans-serif;
        }
    }
    .mcr-spell-detailed{
        span.wicket{
            color: $color-mcr-light-red;
        }
    }
}


.mcr-inn-bowler1-heatmap,
.mcr-inn-bowler2-heatmap{
    @include remove-lr-padding;
}

/*
.mcr-inn-bat1-wagon,
.mcr-inn-bat2-wagon{
    padding-left: 1em;
    padding-right: 0;
}
*/

.mcr-inn-partnerships{
    @include remove-lr-padding;
    h4{
        font-family: BentonSansBold,Arial,sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        background-color: $color-mcr-dark-gray-3;
        color: $color-mcr-white;
        text-align: center;
        margin-top: 0;
        padding: 6px 0px;
    }
}

.mcr-inn-partnerships-chart{
    padding-left: 8px;
}
