// Often used colors on Match Center
$color-mcr-white: #fff;
$color-mcr-light-gray: #F2F2F2;
$color-mcr-light-gray-1: #DEDEDE;
$color-mcr-dark-gray: #3D3D3D;
$color-mcr-dark-gray-1: #B2B2B2;
$color-mcr-dark-gray-2: #535353;
$color-mcr-dark-gray-3: #666666;
$color-mcr-dark-gray-4: #333333;
$color-mcr-light-red: #ff3366;
$color-mcr-blue-green-dark: #3399cc;
$color-mcr-blue-green-light: #66ccff;
$color-mcr-light-blue: #ccccff;
$color-mcr-dark-blue: #006699;
$color-mcr-black: #000;
// Width of the mugshot
$width-inn-mugshot: 46px;

// Overide default padding on columns
@mixin remove-lr-padding{
    padding-left: 0;
    padding-right: 0;
}

.mcr{
    font-family: BentonSans,Arial,sans-serif;
    border: 1px solid $color-mcr-dark-gray-4;
}

.mcr-inn .row{
    margin-left: 0;
    margin-right: 0;
}

.mcr-inn-sticky{
    background-color: $color-mcr-dark-gray;
    .mcr-inn-current .row{
        background-color: $color-mcr-white;
    }
}

.mcr-inn-all{
    margin-top:9px;
    select{
        margin: 0;
    }
}

.mcr-inn-fours,
.mcr-inn-sixes,
.mcr-inn-dots,
.mcr-inn-rr,
.mcr-inn-control,
//.mcr-inn-pname,
.mcr-inn-bowler-meta{
    background-color: $color-mcr-dark-gray;
    p{
        font-size: 11px;
        color: $color-mcr-dark-gray-1;
        font-style: italic;
        margin: 2px 0 2px 0;
        text-align: center;
    }
    .mcr-data{
        font-style: normal;
        font-family: BentonSansBold, Arial, sans-serif;
        color: $color-mcr-white;
    }
    border-left: 1px solid $color-mcr-dark-gray-2;
    padding: 3px 0px 3px 0px;
}

.mcr-inn-score{
    @include remove-lr-padding;
    padding-left: 6px;
    font-family: BentonSansBold, Arial, sans-serif;
    background-color: $color-mcr-white;
    font-size: 18px;
    margin-top: 12px;
}

.mcr-inn-control{
    padding: 4px 8px 8px 8px;
}

.mcr-inn-batsmen,
.mcr-inn-bowlers{
    background-color: $color-mcr-light-gray;
}

ul.mcr-inn-batsman-filters,
ul.mcr-inn-bowler-filters{
    margin-bottom: 0;
}

ul.mcr-inn-batsman-list,
ul.mcr-inn-bowler-list{
    padding: 13px 0;
}


.mcr-inn-player-mugshot{
    float: left;
    width: $width-inn-mugshot;
    margin: 0px 4px;
    a{
        font-size: 10px;
        font-family: BentonSansBold, Arial, sans-serif;
        display: block;
        color: $color-mcr-dark-blue;
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
            color: $color-mcr-light-red;
        }
    }
    a.striker{
        color: $color-mcr-light-red;
    }
    a.nonstriker{
        color: $color-mcr-black;
    }
    img{
        display: block;
        width: $width-inn-mugshot;
        height: $width-inn-mugshot;
        border: 2px solid $color-mcr-light-gray-1;
        -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
       -ms-border-radius: 100%;
       -o-border-radius: 100%;
        border-radius: 100%;
    }
    text-align: center;
}

.mcr-inn-current-players{
    border-right: 1px solid $color-mcr-dark-gray-3;
    @include remove-lr-padding;
    .mcr-inn-current-player{
        @include remove-lr-padding;
        border-right: 1px solid $color-mcr-white;
    }
    .mcr-inn-current-player:nth-child(even){
        // Second batsman/bowler should not have a right border
        .mcr-inn-player-graphic{
            border-right: none;
        }
        // Second player should not have a right border
        border-right: none;
    }
    .mcr-inn-fours,
    .mcr-inn-sixes,
    .mcr-inn-bowler-meta{
        @include remove-lr-padding;
        p{
            @include remove-lr-padding;
        }
    }
}

.mcr-inn-player-text{
    background-color: $color-mcr-dark-gray;
}

.mcr-inn-pname{
    border-left: none;
    margin: 10px 0px 10px 0px;
    font-family: BentonSansBold, Arial, sans-serif;
    .mcr-data{
        font-style: normal;
        color: $color-mcr-white;
        text-align: left;
        margin-bottom: 0px;
    }
    font-size: 16px;
    text-align: left;
    span.name{
        margin-right: 12px;
    }
    span.balls{
        font-family: BentonSans, Arial, sans-serif;
        font-size: 12px;
    }
}

.mcr-inn-current-bowlers{
    .mcr-inn-player-text,
    .mcr-inn-pname,
    .mcr-inn-bowler-meta{
        background-color: $color-mcr-blue-green-dark;
        p{
            color: $color-mcr-light-blue;
        }
        .mcr-data{
            color: $color-mcr-white;
        }
    }
    .mcr-inn-bowler-meta{
        border-left: 1px solid $color-mcr-blue-green-light;
    }
    .mcr-inn-player-graphic{
        border-right: 1px solid $color-mcr-dark-blue;
    }
}


.pref-shot{
    margin-top: 20px;
    p{
        font-family: BentonSansMedium,Arial,sans-serif;
        font-size: 12px;
        color: $color-mcr-black;
        font-style: italic;
        margin-bottom: 0px;
    }
    .shotname{
        font-family: BentonSansBold,Arial,sans-serif;
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.mcr-inn-player-graphic{
    font-family: BentonSansMedium,Arial,sans-serif;
    color: $color-mcr-blue-green-dark;
    border-right: 1px solid $color-mcr-dark-gray-4;
    font-size: 13px;
    padding: 14px 7px 14px 7px;
    .mcr-spell-brief{
        margin-bottom: 10px;
        font-style: italic;
        span.wicket{
            font-style: normal;
            font-family: BentonSansBold,Arial,sans-serif;
        }
    }
    .mcr-spell-detailed{
        span.wicket{
            color: $color-mcr-light-red;
        }
    }
}

.mcr-inn-partnerships{
    @include remove-lr-padding;
    h4{
        font-family: BentonSansBold,Arial,sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        background-color: $color-mcr-dark-gray-3;
        color: $color-mcr-white;
        text-align: center;
        margin-top: 0;
        padding: 6px 0px;
    }
}

.mcr-inn-bowlers{
    border-top: 1px solid $color-mcr-dark-blue;
}

